body {
    text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border: 2px solid rgb(165, 165, 165);
    background-color: rgb(236, 236, 236);
}