/* form-demo.css */
header {
    text-align: center;
}
body {
    font-size: 1.2em;
}
form {
    width: 50%;
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 750px;
}
.cardFront {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: #b0b0b0;
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
    text-align: left; 
    border: 1px solid #000000;
    box-shadow: 2.5px 2.5px 5px #888888;
    border-radius: 10px;
    font-size: 0.9em;
    z-index: 2;
}
#totalCostLabel {
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
    margin-top: 10px;
}
#cardEmoji {
    font-size: 1.6em;
    text-align: right;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
}
#creditCardNumberLabel {
    grid-column: 1/2;
    grid-row: 2/3;
}
#creditCardNumber {
    margin-top: 30px;
    grid-column: 1/2;
    grid-row: 2/3;
}
#creditCardHolderLabel {
    grid-column: 1/2;
    grid-row: 3/4;
}
#creditCardHolder {
    margin-top: 30px;
    grid-column: 1/2;
    grid-row: 3/4;
}
#cardExpiration {
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#cardExpiration label {
    grid-column: 1/3;
    grid-row: 1/2;
}

.cardBack {
    grid-column: 2 / 4;
    grid-row: 2 /4;
    background-color: #b0b0b0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right; 
    border: 1px solid #000000;
    box-shadow: 2.5px 2.5px 5px #888888;
    border-radius: 10px;
    font-size: 0.9em;
    z-index: 1;
}
#cardMagstripe {
    height: 40%;
    width: 100%;
    background-color: #000000;
    grid-column: 1/3;
    grid-row: 1/2;
}
#creditCardSecurityCode {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: left;
    align-items: top;
    margin-left: 8px;
}
#cvcCvv {
    width: 70%;
    grid-column: 2/3;
    grid-row: 3/4;
    margin-top: 30px;
    margin-left: 8px;
}
h1, h2 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
}
input, select, textarea {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #000000; /* Add a border to make it visually consistent */
    border-radius: 4px;
    align-items: left;
}
button {
    background-color: #eeeeee;
    color: black;
    padding: 0px 10px;
    border: 1px solid #272727;
    border-radius: 8px;
    cursor: pointer;
    grid-column: 3/4;
    grid-row: 4/5;
    margin: 10px;
}
.errors {
    white-space: pre-line; /*needed for 2 errors to be on separate lines*/
    color: red;
}
.hide {
    display: none;
}

@media screen and (max-width: 600px) {
    main {
        font-size: 0.9em;
    }
    form {
        display: block;
        margin: 0 10%;
    }
    .cardFront, .cardBack {
        grid-column: 1 / 4;
        grid-row: auto;
        margin-bottom: 20px;
    }
    #cardMagstripe {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    form {
        width: 70%;
    }
    #cardMagstripe {
        display: none;
    }
}