/* form-demo.css */
body {
    font-size: 1.2em;
}
form {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
    margin: 0 auto;
}
.cardFront {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: #b0b0b0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 20px;
}
.cardBack {
    grid-column: 2 / 4;
    grid-row: 2 /4;
}
/* form {
    width: 50%;
    margin: 0 auto;
}
h1, h2 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 8px;
} */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Add a border to make it visually consistent */
    border-radius: 4px;
}
button {
    background-color: #eeeeee;
    color: black;
    padding: 8px 10px;
    border: 2px solid #272727;
    border-radius: 8px;
    cursor: pointer;
    grid-column: 3/4;
    grid-row: 4/5;
}
.errors {
    white-space: pre-line; /*needed for 2 errors to be on separate lines*/
    color: red;
}
.hide {
    display: none;
}