.content {
    max-width: 1000px;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    color: white;
    margin: 0 auto;
}
header {
    background-color: #3180ff;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
}
main {
    background-color: #8d8d8d;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr, auto, 1fr, auto, 1fr, auto, 1fr, auto, 1fr;
    grid-template-rows: auto;
    margin: 0 10%;
}
footer {
    background-color: #3180ff;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
}
nav a {
    width: 100%; 
    color: white;
}

@media screen and (min-width: 700px) {
    
}