#content { 
    width: 30%;
    height: 90%;
    max-width: 1600px;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 5%;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin: 30px auto;
}
#title {
    text-align: center;
}
#title hr {
    margin: 0 auto; 
}
#title p {
    color: dodgerblue;
    margin-bottom: -7px;
}
hr {
    margin-bottom: 30px;
}
#info p:nth-of-type(2) {
    font-style: italic;
}
#list {
    margin-left: 5px;
    margin-bottom: 40px;
}
li {
    margin-bottom: 15px;
}
img {
    width: 15%; 
    display: block;
    margin: 0 auto;
}
