#content {
    max-width: 1000px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    color: white;
    margin: 0 auto;
}
header {
    width: 100%;
    background-color: #3180ff;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
}
.menu-btn {
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin: 0 auto;
}
nav {
    display: none;
}
nav.active {
    display: block;
}
nav a {
    display: block;
    padding: 15px;
    text-align: center;
    color: white;
}
main {
    width: 100%;
    background-color: #a2a2a2;
    padding: 10px 0;
    margin: 0 auto;
}
.gallery {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: clamp(10px, 3vw, 30px);
    justify-items: center; 
    align-items: center;
    margin: 0 10%;
}
.gallery img {
    max-width: 360px;
    width: 100%;
    height: auto;
    display: block;
    border: 5px solid white;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
}
#gallery-title {
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px 0;
    margin: 10px auto;
}
footer {
    width: 100%;
    background-color: #3180ff;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
}
nav a {
    width: 100%; 
    color: white;
}

/* Modal */

dialog img {
    width: 90%;
    max-width: 70vw;
    max-height: 80vh;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 700px) {
    .menu-btn {
        display: none;
    }
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    nav a {
        display: inline-block;
        padding: 20px;
        color: white;
        text-align: center;
    }
}