
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: #222;
    color: white;
    padding: 1rem;
    text-align: center;
}
.main-nav {
    list-style: none;
    padding: 0;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #ffc107;
    text-decoration: none;
}
#movie-list {
    padding: 0 2rem;
}
.movie {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
}
.movie h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.movie p {
    padding-left: 20px;
}
.movie img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}

@media screen and (min-width: 600px) {
    .movie {
        display: grid;
        grid-template-areas: "title title"
                             "img release"
                             "img rating"
                             "img genre"
                             "img age"
                             "desc desc";
        gap: 20px;
    }
    .movie img {
        grid-area: img;
    }
    .movie h2 {
        grid-area: title;
        text-align: center;
    }
    .movie p:nth-child(1) {
        grid-area: release;
    }
    .movie p:nth-child(2) {
        grid-area: age;
    }
    .movie p:nth-child(3) {
        grid-area: genre;
    }
    .movie p:nth-child(4) {
        grid-area: rating;
    }
    #desc {
        grid-area: desc;
    }
    .main-nav {
        display: grid;
        grid-template-areas: "space space home about contact space2 space2";
    }
    .main-nav li:nth-child(1) {
        grid-area: home;
    }
    .main-nav li:nth-child(2) {
        grid-area: about;
    }
    .main-nav li:nth-child(3) {
        grid-area: contact;
    }
}

@media screen and (min-width: 1000px) {
    .movie {
        display: grid;
        grid-template-areas: "img title"
                             "img release"
                             "img rating"
                             "img genre"
                             "img age"
                             "desc desc";
        gap: 20px;
    }
    .movie img {
        grid-area: img;
    }
    .movie h2 {
        grid-area: title;
        text-align: center;
    }
    .movie p:nth-child(1) {
        grid-area: release;
    }
    .movie p:nth-child(2) {
        grid-area: age;
    }
    .movie p:nth-child(3) {
        grid-area: genre;
    }
    .movie p:nth-child(4) {
        grid-area: rating;
    }
    #desc {
        grid-area: desc;
    }
    .main-nav {
        display: grid;
        grid-template-areas: "space space home about contact space2 space2";
    }
    .main-nav li:nth-child(1) {
        grid-area: home;
    }
    .main-nav li:nth-child(2) {
        grid-area: about;
    }
    .main-nav li:nth-child(3) {
        grid-area: contact;
    }
}
