@import url("https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato");
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Momo+Signature&family=Pacifico&display=swap');


body {
    font-family: 'Lato', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
}

body {
    --primary-color: #FF9797;
    --secondary-color: #FFC57B;
    --accent1-color: #FF5B09;
    --accent2-color: #303448;
}
header {
    padding-top: 20px;
    text-align: center;
    background-color: var(--primary-color);
}
#kittys-logo{
    width: 160px;
    height: auto;
    display: block;
    margin: 0 auto;
}
header h1 {
    font-family: 'Momo Signature', cursive;
    color: white;
}
a {
    text-decoration: none;
}
nav {
    background-color: #FFC57B;
    line-height: 3em;
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}
nav a {
    min-width: 120px;
    width: 40%;
    text-decoration: none;
    padding: 10px;
}
nav a:link, nav a:visited {
    color: var(--accent1-color);
}
nav a:hover {
    color: white;
    background-color: var(--primary-color);
}

#sourdough-pic {
    width: 60%;
    border: 10px solid #303448;
}
.sourdough-gallery {
    width: 80%;
    text-align: center;
    color: #303448;
    background-color: #ffbcbc;
    padding: 20px;
    margin: 30px auto;
}
.sourdough-gallery h2, .sourdough-gallery h3 {
    font-family: 'Momo Signature', cursive;
}
.sourdough-gallery p {
    font-family: 'Lato', Arial, sans-serif;
}
#gallery-info {
    margin: 20px;
}

#cinnamon-bread-pic {
    width: 60%;
    border: 10px solid #303448;
}
.baking-gallery {
    width: 80%;
    text-align: center;
    color: #303448;
    background-color: #ffdcaf;
    padding: 20px;
    margin: 30px auto;
}
.baking-gallery h2, .baking-gallery h3 {
    font-family: 'Momo Signature', cursive;
}
.baking-gallery p {
    font-family: 'Lato', Arial, sans-serif;
}

footer {
    background-color: #FFC57B;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

@media screen and (min-width: 600px) {
    .header-content {
        display: flex;
        align-items: center;
        justify-content: center; 
        gap: 20px;
        margin: 20 auto; 
    }
    #kittys-logo {
        width: 180px;
        height: auto;
        margin: 10px 10px;
    }
    header h1 {
        margin: 0;
    }
    nav {

        flex-wrap: wrap;
    }
    nav a {
        width: 20%;
    }
}
@media screen and (min-width: 1000px) {
    .sourdough-gallery {
        display: grid; 
        grid-template-columns: 1fr 1.5fr;
        align-content: center;
    }
    #sourdough-pic {
        width: 90%;
        grid-column: 1/2;
        align-self: center;
    }
    #gallery-info {
        width: 90%; 
        grid-column: 2/3;
        margin: 20px;
    }
    .baking-gallery {
        display: grid; 
        grid-template-columns: 1fr 1.5fr;
        align-content: center;
    }
    #cinnamon-bread-pic {
        width: 90%;
        grid-column: 1/2;
        align-self: center;
    }
}