header h1 {
    color: rgb(56, 2, 27);
    font-size: 2rem;
    margin: 0;
}
.main-nav {
    list-style: none;
    padding: 0;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: rgb(202, 39, 39);
    text-decoration: none;
}
.book h2 {
    color: rgb(202, 39, 39);
}

#book-list {
    padding: 0 2rem;
}
.movie {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
}
.movie h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}
.movie p {
    padding-left: 20px;
}
.movie img {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
}

@media (min-width: 600px) {
    .movie {
        display: grid;
        grid-template-areas: "img title"
                             "img release"
                             "img age"
                             "img genre"
                             "img rating"
                             "desc desc";
        gap: 20px;
    }
    .movie img {
        grid-area: img;
    }
    .movie h2 {
        grid-area: title;
        text-align: center;
    }
}