header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    border-bottom: 2px solid rgb(202, 161, 39);
}
header h1 {
    width: 100%;
    color: rgb(56, 2, 27);
    font-size: 2rem;
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid rgb(202, 161, 39);
    margin: 0 auto; 
}
nav {
    grid-column: 2/3;
}
.main-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: rgb(202, 39, 39);
    text-decoration: none;
}
.book h2 {
    color: rgb(202, 39, 39);
}

#book-list {
    padding: 0 2rem;
}
.book {
    max-width: 700px;
    margin: 0 auto;
}
.book p:nth-child(1) {
    text-align: right;
}
.book p:nth-child(2) {
    text-align: right;
}
.book p:nth-child(3) {
    text-align: right;
}
.book p:nth-child(4) {
    text-align: right;
}
.book h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: left;
    margin-right: auto;
    margin: 15px auto;
}
.book img {
    max-width: 40%;
    display: block;
    padding-right: 75px;
    margin: 0 auto;
}
#desc {
    grid-column: 1/3;
    padding-right: 50px;
}
hr {
    width: 90%;
    background-color: rgb(202, 161, 39);
    margin: 0 auto;
}
footer {
    text-align: center;
    border-top: 2px solid rgb(202, 161, 39);
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .book {
        display: block;
        display: grid;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: repeat(4, 20px) 1.5fr 0.5fr;
        margin: 20px 10%;
    }
    .book h2 {
        grid-column: 1/2;
        grid-row: 1/5;
        text-align: center;
        align-self: center;
    }
    .book p:nth-child(1) {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: right;
    }
    .book p:nth-child(2) {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: right;
    }
    .book p:nth-child(3) {
        grid-column: 2/3;
        grid-row: 3/4;
        text-align: right;
    }
    .book p:nth-child(4) {
        grid-column: 2/3;
        grid-row: 4/5;
        text-align: right;
    }
    .book img {
        max-width: 100%;
        grid-column: 1/3;
        grid-row: 5/6;
        margin: 0 auto;
    }
    #desc {
        grid-column: 1/3;
        grid-row: 6/7;
        padding-right: 0;
        text-align: center;
    }
    hr {
        height: 2.5%;
        grid-column: 1/3;
        background-color: rgb(202, 161, 39);
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {
    .book {
        display: grid;
        grid-template-columns: 1fr 0.25fr 0.75fr 1.5fr 0.75fr;
        grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr 3fr 1fr; 
        margin: 20px 20%;
    }
    .book h2 {
        grid-column: 3/6;
        grid-row: 1/3;
        text-align: left;
        display: flex;
        align-items: center;
    }
    .book hr {
        grid-column: 2/3;
        grid-row: 1/7;
        width: 2.5%;
        height: 100%;
        background-color: rgb(202, 161, 39);
        margin: 0 auto;
    }
    .book p:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        text-align: right;
        padding-right: 5px;
        margin: 5px 0;
    }
    .book p:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
        text-align: right;
        padding-right: 5px;
        margin: 5px 0;
    }
    .book p:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: right;
        padding-right: 5px;
        margin: 5px 0;
    }
    .book p:nth-child(4) {
        grid-column: 1/2;
        grid-row: 4/5;
        padding-right: 5px;
        margin: 5px 0;
    }
    .book img {
        grid-column: 4/5;
        grid-row: 3/6;
        max-width: 100%;
        margin: auto auto;
    }
    #desc {
        grid-column: 3/6;
        grid-row: 6/7;
        text-align: left;
    }
}