@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");    

@media screen and (min-width: 320px) {
    header, main, footer {
        display: flex;
        flex-direction: column;
    }
    section {
        background-color: white;
    }
    body {
        font-family: Roboto, sans-serif;
    }
    header, main, footer {
        max-width: 1000px;
        margin: 1rem auto;
        border: 1px solid #ccc;
        padding: 1rem;
        background-color: lightblue;
    }
    h1 {
        text-align: center;
    }
    section {
        padding: 20px;
        background-color: white;
        margin: 1em;
        border: 1px solid #ccc;
    }
    nav a {
        padding: 20px;
        color: black;
        display: none;
    }
    nav.active a {
        display: block;
    }
    nav a:hover {
        text-decoration: none;
        color: #616061;
    }
    .menu-btn {
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 5px 0;
    }
    footer {
        text-align: left;
    }
}

@media screen and (min-width: 700px) {
    header, main, footer {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        justify-content: space-between;
        align-items: center;
    }
    nav a, nav.active a {
        width: 100%;
        display: inline-block;
        text-align: right;
    }
    nav a:hover {
        text-decoration: none;
        color: #616061;
    }
    .menu-btn {
        display: none;
    }
}

@media screen and (min-width: 1025px) {

    header, main, footer {
        max-width: 1600px;
        display: flex;
        flex-direction: row;
    }
    section {
        flex: 1;
        padding: 20px;
        background-color: white;
        margin: 1em;
        border: 1px solid #ccc;
    }
    nav a {
        width: 100%;
        display: inline-block;
        text-align: right;
    }
    nav a:hover {
        text-decoration: none;
        color: #616061;
    }
    .menu-btn {
        display: none;
    }
    footer {
        text-align: left;
    }  
}