
  body {
    font-family: Palatino Linotype, sans-serif;
    background: #f0f4f8;
  }

  .card {
    width: 400px;
    background: #313131;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.9);
    width: 400px; 
    margin: 60px auto;
    margin-bottom: 20px;
  }

  .image {
    width: 400px;
    border-radius: 15px 15px 0 0;
    }

  .name {
    font-size: 1.5em;
    font-weight: bold;
    margin: -4px 0 20px 0;
    color: white;
    padding: 15px 0 15px 35px;
    background-color: #5d747b;
  }

  .stats {
    margin: 10px 15px 7px 35px;
    text-align: left;
  }

  .stats p {
    margin: 5px 0;
    color: #f0f4f8;
  }

  .buttons {
    text-align: center;
  }

  button {
    padding: 8px 12px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: #5d747b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s ease;
  }

  button:hover {
    background-color: #58605a;
  }            
  .reset-btn {
    text-align: center;
    display: block;
    margin: 0px auto;
  }

  @media screen and (min-width: 600px) {
    .card {
      padding: 20px;
    }
    .name {
      font-size: 1.5em;
      padding: 10px 0 10px 20px;
    }
    .stats {
      margin: 10px 15px 7px 20px;
    }

    button {
      padding: 6px 10px;
      margin: 10px;
    } 
    .reset-btn {
      margin: 10px auto;
    }
  }
  @media screen and (min-width: 1000px) {
    body {
      display: grid;
      grid-template-columns: 2fr 1fr;
      margin: 5px auto;
    }
    .card {
      width: 50%;
      padding: 30px;
      margin: 0 auto 0 300px;
      grid-column: 1/2;
    }
    .image {
      width: 100%;
      display: grid; 
      align-items: center;
    }
    .reset-btn {
      width: 100px;
      font-size: 1.2em;
      padding: 25px;
      margin: auto 200px auto auto;
      grid-column: 2/3;
    }
    .reset-btn button {
      width: 100%;
      padding: 15px;
      font-size: 1.1em;
    }
  }